.page {
  height: 100vh;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  padding: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--white);
  border-radius: 5px;
  background-color: var(--pink);
  transition: 0.3s ease;
  box-shadow: 0px 0px 5px var(--pink), 0px 0px 10px var(--pink),
    0px 0px 15px var(--pink), 0px 0px 20px var(--pink), 0px 0px 25px var(--pink),
    0px 0px 30px var(--pink);

  &:hover {
    color: var(--pink);
    background-color: var(--white);
    box-shadow: 0px 0px 5px var(--white), 0px 0px 10px var(--white),
      0px 0px 15px var(--white), 0px 0px 20px var(--white),
      0px 0px 25px var(--white), 0px 0px 30px var(--white);
  }
}
