.main {
  padding: 2rem;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.intro {
  max-width: 125ch;
  margin: 0 auto 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.avatarContainer {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  flex: none;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--white);
  text-shadow: 0px 0px 5px var(--pink), 0px 0px 10px var(--pink),
    0px 0px 15px var(--pink), 0px 0px 20px var(--pink);
}

@media screen and (max-width: 650) {
  .intro {
    flex-direction: column;
  }
}
